
backend/ZvadoHacks/.vs/ProjectEvaluation/

backend/ZvadoHacks/.vs/ZvadoHacks/DesignTimeBuild/

backend/ZvadoHacks/.vs/ZvadoHacks/FileContentIndex/

backend/ZvadoHacks/.vs/ZvadoHacks/v17/

backend/ZvadoHacks/ZvadoHacks/obj/Debug/net7.0/

backend/ZvadoHacks/ZvadoHacks/obj/

backend/ZvadoHacks/ZvadoHacks/bin/Debug/net7.0/
